.vacancyPageContainer {
    height: calc(100vh - 300px);
    overflow-y: auto;
}
  
.vacancyDescriptionConatiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.vacancyLabelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.soloCompanyImage {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 207px;
    border: 2px solid rgb(39, 70, 209);
}

.vacancyCompanyLabel {
    display: block;
    margin: 0 auto;
    font-weight: bold;
    color: rgb(39, 70, 209);
    font-size: 25px;
}

.vacancylabel {
    font-weight: bold;
    color: rgb(39, 70, 209);
    font-size: 25px;
}

.vacancyLabelContainer p:last-child,
.vacancyLabelContainer p:first-child {
    margin: 0;
    font-size: 20px;
    white-space: pre-wrap;
    width: 70%;
    margin-bottom: 12px;
}


.vacancySubmitContainer {
    display: flex;
    justify-content: center;
    width: 30%; 
    margin: 10px auto; 
}

.vacancySubmitButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(39, 70, 209);
    color: #fff !important;
    text-decoration: none; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* //////////// APPLICATION ///////////////*/

.vacancySubmitContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.vacancyInputsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.inputContainer {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
  
.inputContainer label {
    flex-shrink: 0;
    width: 170px;
    text-align: right;
}

.inputContainer input {
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

.applicationSubmitted {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 50px;
    font-weight: bold;
    color: blue;
}