body {
  background-color: #ffffff;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* HEADER */

.header {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 120px;
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header2 {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 130px;
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  max-width: 100%;
  max-height: 100px;
}

#Logo:hover {
  border: 2px solid rgb(54, 88, 236);
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#headerHome {
  margin: 0px;
  text-decoration: none;
}


/* BODY */

.body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
}

#name {
  width: 150%;
  height: auto;
  margin-top: 10px;
}

#slogan {
  color: rgb(54, 88, 236);
  font-size: medium;
}

/* LOGINS */

.loginContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.section {
  display: grid;
  grid-template-rows: auto auto auto auto;
  gap: 10px;
  justify-items: center;
}

.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.loginIcon {
  font-size: 80px;
  color: rgb(39, 70, 209);
}

.loginEmail {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.loginPassword {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.loginButton {
  width: 30%;
  padding: 12px;
  background-color: rgb(54, 88, 236);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.joinButton {
  width: 100%;
  padding: 12px;
  background-color: rgb(54, 88, 236);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.loginButton:hover {
  background-color: rgb(19, 50, 179);
}

.joinButton:hover {
  background-color: rgb(19, 50, 179);
}



/********************** FOOTER *******************/

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  display: 'flex';
  justify-content: 'center';
  color: rgb(54, 88, 236); 
}

.icons .icon {
  margin: 0 15px; 
  font-size: 30px; 
}

.icon:hover {
  background-color: rgb(19, 50, 179);
}

a:visited {
  color: rgb(54, 88, 236);
}

/******************* USERNAMEBODY *******************/

.userNameBody {
  background-color: #ffffff;
  padding-top: 130px;
}

.userContainer {
  display: grid;
  grid-template-columns: minmax(auto, max-content) minmax(auto, max-content);
  gap: 10px;
  margin-top: 5px;
}

.userCircle {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;

}

.userIcon {
  font-size: 40px;
  color: rgb(39, 70, 209);
}

.userIcon img {
  max-width: 100%;
  max-height: 100%;
}

#userName {
  color: rgb(39, 70, 209);
}

/* //////////APPLICATIONS  */
.applications {
  color: rgb(39, 70, 209);
  margin: 20px 0 0 10px;
  font-size: 25px;
}

.userApplicationsContainer {
  width: fit-content;
  margin: 0 auto;
}

.userApplications {
  background-color: #dbdbdb;
  border: 2px solid rgb(39, 70, 209);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.applicationbox {
  flex-shrink: 0;
  width: 220px;
  height: 150px;
  margin-right: 10px;
  background-color: #ffffff;
  border: 2px solid rgb(39, 70, 209);
}

.leftArrow,
.rightArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 1px;
  margin: 10px;
  font-size: 80px;
  color: rgb(19, 50, 179);
}

#box1,
#box2,
#box3,
#box4,
#box5,
#box6,
#box7 {
  color: rgb(218, 36, 36);
  font-size: 20px;
  font-weight: bold;
  line-height: 130px;
  text-align: center;
}

/* ///////////SEARCH  */

#search {
  color: rgb(39, 70, 209);
  margin-bottom: 3px;
  font-size: 30px;
  
}

.userSearchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px; 
}

.userSearchParameters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchLocation,
.searchField {
  /* Add styles for the dropdown options */
  /* Example styles */
  padding: 20px;
  border: 2px solid rgb(39, 70, 209);
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
}

#location,
#field {
  color: rgb(39, 70, 209);
  font-size: 30px;
}

.dropdown {
  width: 200px; 
  background-color: #f2f2f2; 
  color: rgb(39, 70, 209); 
  font-size: 16px; 
  padding: 10px; 
  border: none; 
  border-radius: 5px; 
  outline: none; 

}

.dropdown:hover {
  cursor: pointer;
}

.dropdown:focus {
  border: 2px solid rgb(39, 70, 209); 
}

.submitContainer {
  display: flex;
  justify-content: center;
  width: 30%; 
  margin: 10px auto; 
}

.searchSubmit {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(39, 70, 209);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.searchSubmit:hover {
  background-color: rgb(19, 50, 179);
}

/* *******************************NEW USER ****************/

.newUserBody {
  padding-top: 130px;
}

.newUserDiv {
  margin-top: 20px;
  display: grid;
  justify-items: center;
}

.newUserCircle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.newUserIcon {
  font-size: 80px;
  color: rgb(39, 70, 209);
}

.newUser {
  color: rgb(39, 70, 209);
}

/************* NEW USER FORM ****************/
.centerContainer {
  display: flex;
  justify-content: center;
}

.newUserDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.newUserCircle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newUserIcon {
  font-size: 80px;
  color: rgb(39, 70, 209);
}

.newUser {
  color: rgb(39, 70, 209);
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formGroup {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

label {
  font-weight: bold;
  color:rgb(39, 70, 209);
  margin-right: 10px;
  font-size: 25px;
}

input {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 5px;
  
}

#newUserButton {
  width: 100%;
  padding: 14px;
  background-color: rgb(54, 88, 236);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

#newUserButton:hover {
  background-color: rgb(19, 50, 179);
}



